In [14]:
import pandas as pd;

In [15]:
csv_file = pd.read_csv('../data.csv')

print(csv_file)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [ ]:
data = [1,2,3,4,5] #list of data
series = pd.Series(data)
print(series)

In [32]:
csv_data = pd.read_csv('../data.csv')

series = pd.Series(csv_data['Duration'])
#print(series)
#print(series.tail(10))
#print(series.head(10))
print(series.describe())

count    169.000000
mean      63.846154
std       42.299949
min       15.000000
25%       45.000000
50%       60.000000
75%       60.000000
max      300.000000
Name: Duration, dtype: float64

In [20]:
series1 = pd.Series(csv_data['Duration'])
series2 = pd.Series(csv_data['Pulse'])

#series1.add(series2)
#series1.sub(series2)
series1.add(series2, fill_value=0)

0      170
1      177
2      163
3      154
4      162
      ...
164    165
165    170
166    175
167    195
168    200
Length: 169, dtype: int64

In [23]:
series1 = pd.Series([1,2,3,4,5])
series2 = pd.Series([4])
series2.sub(series1, fill_value='9') # cast to int

0    3.0
1    7.0
2    6.0
3    5.0
4    4.0
dtype: float64

In [25]:
data = pd.read_csv('../data.csv')
ser = pd.Series(data['Duration']) 
data['Duration'] = data['Duration'].astype(str)
#print(data['Duration']) 
data.dropna(inplace=True) # drop rows with NaN values

In [27]:
lst = [1,2,3,4,5]
df = pd.DataFrame(lst)
#print(df)
print(df[0][2])

3

In [31]:
data = { 'Name':['Tom', 'nick', 'krish', 'jack'], 'Age':[20, 21, 19, 18]}   
df = pd.DataFrame(data)
#print(df)
#print(df.columns)
#print(df.index)
print(df.describe())

             Age
count   4.000000
mean   19.500000
std     1.290994
min    18.000000
25%    18.750000
50%    19.500000
75%    20.250000
max    21.000000

In [33]:
data = { 'Name':['Tom', 'nick', 'krish', 'jack'], 'Age':[20, 21, 19, 18]}   
df = pd.DataFrame(data)
display(df.describe())

             Age
count   4.000000
mean   19.500000
std     1.290994
min    18.000000
25%    18.750000
50%    19.500000
75%    20.250000
max    21.000000

In [38]:
data = pd.read_csv('../data.csv')
dataFrameData = {'name':data['Pulse'], 'duration':data['Duration']}
df = pd.DataFrame(dataFrameData)
# delete rows with duration equal to 60
df = df[df.duration != 60]
print(df)

     name  duration
3     109        45
4     117        45
7     104        45
8     109        30
17     90        45
..    ...       ...
161    90        45
162    95        45
163   100        45
167   120        75
168   125        75

[90 rows x 2 columns]